{# <div class="views-element-container contextual-region block block-views block-views-blockfeatured-recipes-block-1" id="block-test-theme-views-block-featured-recipes-block-1">
  
  <h2 class="block__title">Featured Recipes</h2>
  
  <div class="recipe-slider-container">
    <div class="recipe-slider" id="recipe-slider">
    {% set recipes = content['#view'].result %}
      {{ include('test_theme:carousel', { content: recipes }) }}
    </div>
  </div>
</div> #}


<div class="views-element-container contextual-region block block-views block-views-blockfeatured-recipes-block-1" id="block-test-theme-views-block-featured-recipes-block-1">
  <h2 class="block__title">Featured Recipes</h2>
  
  <div class="recipe-slider-container">
    <div class="recipe-slider" id="recipe-slider">
      {% set recipes = content['#view'].result %}
      {% if recipes %}
        {{ include('test_theme:carousel', { content: recipes }) }}
      {% else %}
        <p>No featured recipes available.</p>
      {% endif %}
    </div>
  </div>
</div>
