<div class="views-element-container contextual-region block block-views block-views-blockfeatured-recipes-block-1" id="block-test-theme-views-block-featured-recipes-block-1">
  
  <h2 class="block__title">Featured Recipes</h2>
  
  <div class="recipe-slider-container">
    <button class="slider-btn left" id="slider-prev">&#10094;</button>
    <div class="recipe-slider" id="recipe-slider">
      {{ content }}
    </div>
    <button class="slider-btn right" id="slider-next">&#10095;</button>
  </div>
</div>
