{# block--custom-banner.html.twig #}

<div class="custom-banner">
  <img src="{{ content.field_banner_image.0.entity.uri.value | image_style('large') }}" alt="{{ content.field_banner_text }}">
  <div class="banner-text">{{ content.field_banner_text }}</div>
</div>
