{# page--featured.html.twig #}
<div id="dump">
  {{ dump() }}
</div>
<div >
    <h1 style="color: blue;">{{ custom_site_name }}</h1>
</div>


<div class="featured-page-wrapper">
  <header>
    <h1>Featured Recipes</h1>
    <p>Discover our hand-picked, most loved recipes.</p>
  </header>



  <div class="recipe-grid">
    {{ page.content }}
  </div>
</div>
