{# page--recipes.html.twig #}

<div class="recipes-page-wrapper">
  <header>
    <h1>All Recipes</h1>
    <p>Browse our entire recipe collection.</p>
  </header>

  <div class="recipe-grid">
    {{ page.content }}
  </div>
</div>
